body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 99; 
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #D8D8D8;
    font-family: 'Poppins';
    letter-spacing: 2px;
}

header img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

header ul li  {
    float: left;
}

header > nav >  ul > li:hover  {
    border-bottom: 2px solid black;
    transition: all .1s ease;
}

header ul:nth-child(2) li  {
    clear: left;
}

.subtopics ul {
    display:none;
    position:absolute;	
}

.subtopics > ul {
    box-sizing: border-box;
    width: 100%;
    background-color: #F3F1EE;
    text-align: center;
    height: 500px;
    overflow: auto;
}

.subtopics > ul li:hover {
    opacity: 0.5; 
}

.nav-empty {
    position: fixed;
    height: 29px;
    background-color: white;
    border-bottom: 1px solid #D8D8D8;
}

.subtopics > ul > li {
    width: 100%;
}

.subtopics > ul > li img {
    width: 50%;
    padding-bottom: 10px;
}

.subtopics > ul > li:nth-child(2) {
    padding-top: 35px;
}

.socials ul {
    display:none;
    position:absolute;	
}

.socials > ul {
    width: 25%;
    background-color: #F3F1EE;
    box-sizing: border-box;
}

.socials > ul > li {
    width: 100%;
    margin-left: 35%;
    margin-bottom: 25%;
}

.socials > ul >li:nth-child(1) {
    margin-left: 0!important;
}

.socials > ul > li:nth-child(2) {
    margin-top: 35px;        
}

.subtopics:hover ul {
    display:block;
}

.socials:hover ul {
    display:block;
}

#primaryNavigationLeft {
    top: 30px;
    left: 7%;
}

#primaryNavigationRight {
    top: 30px;
    right: 0;
    left: 70%;
}

/*Responsive nav*/
@media screen and (max-width: 420px) {
    header img {
        width: 60%;
    }
}

@media screen and (max-width: 830px) {
    #primaryNavigationLeft , #primaryNavigationRight
    {
        display: none;
    }
}

@media screen and (max-width: 930px) {
    #home {
        margin-right: 50px;
    }

    .subtopics {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1040px) {
    #home {
        margin-right: 100px;
    }

    .subtopics {
        margin-right: 50px;
    }
}

@media screen and (min-width: 1041px) {
    #home {
        margin-right: 150px;
    }

    .subtopics {
        margin-right: 100px;
    }
}

/*Text formatting*/
a {
    text-decoration: none;
    color: black;
}

.content-a-underline {
    text-decoration: underline 2px #EEC5CB;
    text-underline-offset: 3px;
}

.content-a-underline:hover {
    text-decoration: underline 2px #6F1A0E;
    text-underline-offset: 3px;
    transition: all .4s ease;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Nanum Myeongjo';
    font-size: 25px;
}

.title-italic-span
{
    font-style: italic;
}

.content-subtitle
{
    display: inline-block;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 15px;
}

h5 {
    font-family: 'Poppins';
}

h6
{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
}

#primaryNavigationLeft, #primaryNavigationRight {
    position: absolute;
    width: fit-content;
    font-weight: bold;
    font-size: 13px;
}

#primaryNavigationLeft > ul > li > ul > li, #primaryNavigationRight > ul > li > ul > li {
    font-weight: normal;
}

/*Image sprite for social media icons in the navbar*/
.facebook {
    background: url('../images//navbar/socials.png') no-repeat 9.007% 50%;
    width: 157px;
    height: 300px;
    zoom: 0.07;
}

.twitter {
    background: url('../images//navbar/socials.png') no-repeat 35.173% 50%;
    width: 297px;
    height: 252px;
    zoom: 0.07;
}

.instagram {
    background: url('../images//navbar/socials.png') no-repeat 64.682% 50%;
    width: 287px;
    height: 288px;
    zoom: 0.07;
}

.gmail {
    background: url('../images//navbar/socials.png') no-repeat -1605px -182px;
    width: 299px;
    height: 236px;
    zoom: 0.07;
}

.facebook:hover, .twitter:hover, .instagram:hover, .gmail:hover {
    opacity: 0.5;
}

/*Subtopics*/
.topics-bottom-nav {
    box-sizing: border-box;
}

.topics-bottom-nav > h1 {
    margin-left: 30px;
    font-size: 25px;
}

.topicsBottom {
    box-sizing: border-box;
}

.topicsBottom > div h1 {
    margin-top: 25px!important;
    margin-bottom: 10px!important;
}

.topicsBottom > div h6 {
    line-height: 25px;
}

.topicsBottom > div h1, .topicsBottom > div > h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.topicsBottom > div {
    box-sizing: border-box;
    border-bottom: 1px solid #C5C4C3;
    padding: 15px;
}

.topicsBottom > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    zoom: 0.5;
}

.topicsBottom > div h1:hover {
    color: #666666;
}

/*Footer*/

footer {
    box-sizing: border-box;
    background-color: #F3F1EE;
    border-top: 1px solid #C5C4C3;
    margin-top: 100px;
    font-family: 'Poppins';
    padding: 20px;
    font-size: 12px;
    width: 100%;
    font-weight: bold;
}

footer > div {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 35px;
}

footer a:hover {
    color: #666666;
}

.references > ol > li {
    font-weight: normal;
}

.socials-footer-section > ul > li > ul > li {
    float: left;
    zoom: 0.8;
    margin-top: 10px;
    margin-right: 20px;
}

@media screen and (min-width: 770px) {
    footer > div {
        box-sizing: border-box;
        width: 33%;
        float: left;
        padding: 10px;
        padding-left: 15px!important;
        border-right: 1px solid #C5C4C3;
    }
}

/*For aside*/
@media screen and (min-width: 600px) {
    .topics-bottom-nav > h1 {
        font-size: 35px;    
    }

    .topicsBottom > div {
        height: 385px;
        padding-right: 40px;
        border-right: 1px solid #C5C4C3;
    }

    .topicsBottom > div > img {
        float: left;
        zoom: 0.7;
    }

    .topicsBottom > div h1, .topicsBottom > div > h6 {
        position: relative;
        text-align: left;
        left: 20px;
    }

    .topicsBottom > div h6 {
        margin-top: 40px;
    }

    .topicsBottom > div > h6 {
        font-size: 15px;
    }
}

@media screen and (min-width: 800px) {
    .topicsBottom {
        width: 80%;
        margin-left: 10%;
        padding-right: 20px;
    }

    .topicsBottom > div h1 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1100px) {
    .topicsBottom > div {
        height: 530px;
    }

    .topicsBottom {
        width: 75%;
        margin-left: 4%;
        padding-right: 5px;
    }

    .topicsBottom > div > img {
        zoom: 1;
    }

    .topicsBottom > div h1 {
        font-size: 35px;
    }

    .topicsBottom > div > h6 {
        font-size: 15px;
    }

    footer > div {
        font-size: 14px;
    }
}

@media screen and (min-width: 1250px) {
    .topicsBottom {
        width: 65%;
        margin-left: 4%;
        padding-right: 10px;
    }

    .topicsBottom > div > h6 {
        font-size: 17px;
    }
}
