#bannerFull {
    display: none;
}

#centerBanner {
    position: relative;
    z-index: -1;
    display: inline;
    width: 100%;
    top: 80px;
}

#opening {
    box-sizing: border-box;
    width: 230px;
    background-color: #F3F1EE;
    border: 2px solid #C5C4C3;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

#opening h1 , #opening h5 , #opening  h6 {
    margin: 0;
    padding: 0;
}

#opening h1 , #opening h5 {
    padding-bottom: 20px;
}

h6 {
    font-size: 12px;
}

footer {
    height: 400px;
}

@media screen and (min-width: 770px) {
    footer {
        height: 350px;
    }

    footer > div {
        height: 310px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 835px) {
    footer {
        height: 300px;
    }

    footer > div {
        height: 260px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 337px) {
    #centerBanner {
        width: 100%;
        height: 300px;
    }
    
    #opening {
        width: 300px;
    }
}

@media screen and (min-width: 600px) {
    #centerBanner {
        display: none;
    }

    #bannerFull {
        display: inline;
        position: relative;
        top: 80px;
        z-index: -1;
        width: 100%;
    }

    #opening {
        width: 400px;
    }

    h6 {
        font-size: 13px;
    }   
}

@media screen and (min-width: 750px) {
    #opening {
        width: 500px;
        padding: 30px 50px 30px 50px;
    }

    #opening h1 {
        font-size: 45px;
    }

    #opening h6 {
        font-size: 16px;
    }
}